:root {
    --primary-background: grey;
    --primary-textcolor: black;

    --gap: 1rem;

    --padding: 0.5rem;
}

a,p,h1,h2,h3,h4,h5,h6 {
    all: unset;
}


body {
    background-color: var(--primary-background);
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: var(--padding);
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: var(--primary-textcolor);
    margin-bottom: 0.5rem; /* Add spacing as needed */
}

p {
    margin-bottom: 1rem; /* Space between paragraphs */
}


ul, ol {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: var(--gap); /* Add spacing between list items */
}
a {
    color: var(--primary-textcolor); /* Inherit text color */
    text-decoration: none; /* Remove underline */
    transition: color 0.5s ease-in-out; /* Smooth transition for color */
}

a:hover {
    color: #fff; /* Change color on hover */
    cursor: pointer;
}